/* Redimensiones canvas */

.redimensionar-icon{
  float: right;
  margin-right: 0.5%;
  font-weight: bolder;
}

.pantallacompleta {
  width: 100%;
  height: 100% !important;
  bottom: 0%;
  margin: 0px;
}

/* Dentro del canvas */

.djs-container {
  margin-top: -7%;
}

.bjs-container {
  width: 98% !important;
}

.content .canvas, .content.with-error .canvas {
  visibility: hidden;
  display: none;
}

.content.with-diagram .canvas {
  visibility: visible;
  display: block;
}

.content, .content > div {
  margin-top: -12px;
}

/* Divider */

.row_resize {
  border: 23px solid #02aade;
  margin-bottom: 2px;
  cursor: n-resize;
}

.divider-persiana {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 0px;
  background-color: blue;
}

/* Donde se ve el diagrama */

#visordiagrama {
  height: 95%;
  padding: 0px 0px 0px 0px;
}

.content {
}

.djs-palette-entries {
  width: 101%;
}

/* ZOOM */

#zooms {
  font-size: 19px;
  margin-left: 97.8%;
  margin-top: 2%;
  position: initial;
  color: #02aade;
  height: 23%;
}

#zooms > div {
  border: 1px solid #02aade;
  box-shadow: 0 0 8px -2px #02aade;
  background: #02aade;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 25px;
  height: 28px;
  text-align: center;
}

#zooms > #zoomin {
  font-size: 100%;
  padding: 0px 2% 1% 0.5%;
}

#zooms > #zoomout {
  height: 25px;
  margin-top: 27%;
  padding: 0px 2% 1% 0.5%;
}

#zooms > #zoomout > span {
  top: 0px;
}

/* Icono Viewer */

#imagenlibreriaviewer {
  margin-right: -37px;
  bottom: 10% !important;
}

#imagenlibreriaviewer > img {
  width: 35px;
}
