/* Paleta */
.djs-palette.two-column.open {
    border: 1px solid #02aade;
    width: 8%;
    height: 48%;
    margin-top: 90px;
    position: fixed;
}

/* Herramientas modelador del diagrama */ 

.djs-context-pad .entry {
    width: 26px !important;
}

.djs-palette .entry, .djs-palette .djs-palette-toggle {
    /*border: 1px solid #e6e6e6;*/
    height: 43px !important;
}

.djs-palette .separator {
    border-top: solid 1px #02aade;
}
