/* Cabecera paneles */

.panel-default .panel-heading {
  background: #02aade;
  color: white;
}

.panel {
  /*bottom: 32%;*/
  position: absolute;
  width: 100%;
  border: 2px solid #02AADE;
  border-radius: 0px !important;
}

.panel-heading {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.panel-heading > .panelicono {
  float: right;
  cursor: pointer;
  font-size: 16px;
}
