.navbar-gexflow{
  background: #02AADE;
  margin-bottom: 0.1%;
}

.gexflow-title-font{
  color: white !important;
}
.container-fluid-gexflow{
    padding-right: 0px; 
}

.nav-gexflow{
  float: right !important;
  background-color: white;
}

.nav-gexflow-button{
  font-size: 19px;
  border-left: 2px solid #02AADE;
  border-bottom: 2px solid #02AADE;
}

.nav-gexflow-settings{
  background-color: #02AADE;
  border-bottom: 1px solid #02AADE;
}

.nav-gexflow-settings>a>span{
  font-size: 18px;
  color: white;
}

.nav-gexflow-button>a{
  color: #02AADE !important;
}

.glyphicon-gexflow{
  padding-right: 15%;
  display: inline;
}