html, body{
  height: 100%;
  position: relative;
}

.gexflow-canvas{
  display: inline-block;
  position: fixed;
  border: 2px solid #02AADE;
}

.gexflow-canvas-dimensiones{
  width: 89.7%;
  height: 60%;
}

.gexflow-big-canvas{
  width: 99.8%;
  height: 93.5%;
}

.redimensionar-icon{
  float: right;
  margin-right: 0.5%;
  font-weight: bolder;
}

.ocultar{
  display: none;
}