.paleta-container{
  width: 10%;
  display: inline-block;
  height: 58.5%;
  margin-left: 0.1%;
}

.paleta-title{
  text-align: center;¡
}

.paleta-default-gexflow{
  border: none;
}

.panel-default-gexflow{
  bottom: initial;
  border: 2px solid #02AADE;
  margin-left: 0.1%;
  margin-right: 0.1%;
}
.panel-default-gexflow > .panel-heading-gexflow {
    cursor: pointer;
	background-color: #02AADE;
    height: 30px;
    padding-top: 0.3%;
	color: white;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #0074BD;
}

.panel-default-gexflow > .paleta-subheading-gexflow {
    cursor: pointer;
	background-color: #02AADE;
    height: 25px;
    padding-top: 2.3%;
	color: white;
	border-radius: 0px 0px 0px 0px;
	border-bottom: 1px solid #0074BD;
}

.paleta-subheading-father {
	border-radius: 0px 0px 0px 0px;
}

.paleta-default-gexflow > .paleta-heading-gexflow {
    cursor: pointer;
	background-color: white;
    height: 30px;
    padding-top: 2.5%;
	color: black;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #02AADE;
    border: 2px solid #02AADE;
}

.icono-paleta{
  width: 24px;
  height: 24px;
  margin-left: 3%;
}