/* Redimensiones canvas */

.redimensionar-icon{
  float: right;
  margin-right: 0.5%;
  font-weight: bolder;
}

.pantallacompleta {
  width: 100%;
  height: 100% !important;
  bottom: 0%;
  margin: 0px;
}

/* Dentro del canvas */

.djs-container {
  /*margin-top: -7%;*/
	width: 97% !important;
}

.bjs-container {
  width: 98% !important;
  height: 80%;
}

#js-canvas {
  position: fixed !important;
}

.panel {
  position: fixed;
}

.content .canvas, .content.with-error .canvas {
  visibility: hidden;
  display: none;
}

.content.with-diagram .canvas {
  visibility: visible;
  display: block;
}

.content, .content > div {
  margin-top: -12px;
}

/* Divider */

.row_resize {
  border: 23px solid #02aade;
  margin-bottom: 2px;
  cursor: n-resize;
}

.divider-persiana {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 0px;
  background-color: blue;
}

/* Donde se ve el diagrama */

#visordiagrama {
  height: 95%;
  padding: 0px 0px 0px 0px;
}


/* ZOOM */

#zooms {
  font-size: 19px;
  margin-left: 97.8%;
  margin-top: 2%;
  position: initial;
  color: #02aade;
  height: 23%;
}

#zooms > div {
  border: 1px solid #02aade;
  box-shadow: 0 0 8px -2px #02aade;
  background: #02aade;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 25px;
  height: 28px;
  text-align: center;
}

#zooms > #zoomin {
  font-size: 100%;
  padding: 0px 2% 1% 0.5%;
}

#zooms > #zoomout {
  height: 25px;
  margin-top: 27%;
  padding: 0px 2% 1% 0.5%;
}

#zooms > #zoomout > span {
  top: 0px;
}

/* Icono Viewer */

.bjs-container > a {
  margin-right: -37px;
  bottom: 10% !important;
}

.bjs-container > a > img {
  width: 35px;
}

/* Para abrir sub procesos */

.ocultarabrirsubproceso {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.mostrarabrirsubproceso {
  box-shadow: 2px 2px 5px #999;
  color: #333;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #02aade;
  background: white;
  position: absolute; 
  margin-left: 46%; 
  margin-top: 3.5%; 
  font-size: 15px; 
  z-index:9999;
  transition: opacity 1s ease-out;
  opacity: 1;
}

/* Opciones al clicar en un elemento */

.djs-popup {
  position: inherit !important;
}

/* Paleta */

.djs-palette-entries {
  width: 101%;
}

.djs-palette {
  margin-left: -20px; 
}

/* Paleta minimizar */

.paletaminimizar {
  width: 60px;
  height: 0px;
  border-bottom: 2px solid transparent;
  border-top: 10px solid #02aade;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /* font-size: 0px; */
  line-height: 0px;
  margin-top: -61px;
  margin-left: 73%;
  transform: rotate(-90deg);
  visibility: visible;
  cursor: pointer;
}

.glyphicon-menu-left, .glyphicon-menu-right {
  /* transform: rotate(90deg); */
  margin-top: 29px;
  margin-left: 91.5px;
  position: absolute;
  font-size: 11px;
  color: white;
  visibility: visible;
  cursor: pointer;
}