/* Cabecera */

.navbar {
  margin-bottom: 4px !important;
}

/* 2 Paneles */

.gexflow-canvas {
  /*height: 58.5%;*/
  height: 61.5%;
  margin-bottom: 0.5%;
}

.gexflow-properties-panel {
  height: 31.8%;
  bottom: 0%;
  margin-bottom: 0%;
}

/* Otras resoluciones */

@media (min-width: 1920px) and (max-width: 1920px) {
  .gexflow-canvas {
    height: 61.5%;
  }
  .gexflow-properties-panel {
    height: 31.8%;
  }
}

/* Minimizar propiedades */

.gexflow-big-canvas{
  height: 83.5%;
  margin-bottom: 0.5%;
}

.minimizar-properties {
  height: 0%;
  bottom: 6%;
  margin-bottom: 0%;
}

@media (min-width: 1920px) and (max-width: 1920px) {
  .gexflow-big-canvas{
    height: 89% !important;
    margin-bottom: 0.5%;
  }

  .minimizar-properties {
    height: 0% !important;
    bottom: 4% !important;
    margin-bottom: 0%;
  }
}

/* Otros */

.ocultar {
  display: none !important;
}
