.navbar-gexflow {
  display: none;
}


.divider-persiana {
    display: none;
}

.panel {
  border: none !important;
}

.panel-default>.panel-heading {
    display: none;
}

.djs-palette {
    display: none;
}

#zooms {
    display: none;
}

.djs-container {
    margin-top: 5% !important;
}

a {
  display: none !important;
}

.gexflow-properties-panel {
    display: none;
}