.gexflow-properties-title{
  margin-left: 1%;
}

#propertiesBody {
  position: fixed;
}

/* custom inclusion of right, left and below tabs */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li{
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/* PROPIEDADES */

.tab-content {
	width: 220%;
}

.tab-content > .active, .pill-content > .active {
    display: -webkit-box;
}

.form-bas-div {
	width: 100%;
	display: none;
}

.form-bas {
	display: table-row;
}

.form-bas > p {
	vertical-align: middle;
	margin-right: 10px;
	display: table-cell;
	
}

.form-bas > input, .form-bas > textarea {
	display: table-cell;
	margin-left: -25px;
	font-size: 12px;
}