/* Main */

.navbar {
  margin-bottom: 4px !important;
}

/* Paneles */
.panel {
  width: 100%;
}

.gexflow-canvas {
    height: 57% !important;
 }

.gexflow-canvas {
  margin-bottom: 0.5%;
}

#propertiesPanel {
  height: 31.8%;
  bottom: 0%;
  margin-bottom: 0%;
}

/* Otras resoluciones */

@media (min-width: 1920px) and (max-width: 1920px) {
  .gexflow-canvas {
    height: 60% !important;
  }
  #propertiesPanel {
    height: 31.8% !important;
  }
}